body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #f0f3f9;

  color: rgba(0, 0, 0, 0.7);
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4b4c4b;
  text-decoration: none;
}

a:hover,
a:active {
  color: #2a7866;
  text-decoration: none;
}

p,
li {
  line-height: 1.65;
  font-size: 1.1em;
}

h2,
h3,
h4,
h5 {
  margin-top: 1.45em;
}

*,
:after,
:before {
  box-sizing: border-box;
}
