body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Droid Sans,
    Helvetica Neue, sans-serif;
  background: linear-gradient(
    -20deg,
    hsl(240, 45%, 98%) 0%,
    hsl(187, 50%, 97%) 40%,
    hsl(220, 43%, 96%) 80%
  );
  color: rgba(0, 0, 0, 0.7);
  -webkit-font-smoothing: antialiased;
}

a,
a:hover,
a:active {
  color: #4b4c4b;
}

p,
li {
  line-height: 1.65;
  font-size: 0.9em;
}
