.img-row-2,
.img-row-3,
.img-row-4,
.img-row-5 {
  p {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: center;
    flex-wrap: wrap;
    a {
      padding: 5px;
      min-width: 180px;
      width: 100%;

      span {
        height: 100%;
        width: auto;
        overflow: hidden;
      }
    }
  }
}
.img-row-h2,
.img-row-h3,
.img-row-h4 {
  p {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: center;
    flex-wrap: wrap;
    a {
      padding: 5px;
      height: 100%;
    }
  }
}

@media screen and (min-width: 400px) {
  .img-row-2 p a {
    width: 50%;
  }
  .img-row-3 p a {
    width: 33.3333%;
  }
  .img-row-h4 p a {
    width: 25%;
    height: auto;
  }
}
